<div id="footer" class="bg-background text-sm">
    <div class="p-2 flex flex-row justify-between ">
        <app-version class="pl-[var(--main-margin)] self-center"></app-version>
        <div id="icons" class="flex flex-row">
            <img src="../../assets/ce-mark.png" alt="ce-mark" class="h-6 self-center">
            <img src="../../assets/ivd.png" alt="ivd" class="h-6 self-center">
        </div>
        <div id="manufacturer" class="flex flex-row gap-2">
            <img src="../../assets/Manufacturer.png" alt="manufacturer" class="h-6 mt-2">
            <div class="flex flex-col">
                <p class="font-medium">EXPLORIS Health AG</p>
                <p>Industriestraße 44</p>
            <p>8304 Wallisellen</p>
            <p>Switzerland</p>
        </div>
        <div id="contact" class="flex flex-col justify-center">
            <p>T +41 43 355 80 10</p>
            <a href="mailto:info@explorishealth.com" class="text-primary">info@explorishealth.com</a>
            <a href="https://www.explorishealth.com" target="_blank" class="text-primary">www.explorishealth.com</a>
        </div>
    </div>
    <div id="nemius" class="h-20 pr-[var(--main-margin)]">
        <img src="../../assets/nemius.png" alt="nemius" class="h-full">
    </div>
</div>
</div>