<ng-container *ngIf="!isLoading; else loading">
  <form class="base-view" [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="schema">
    <h1>Profile</h1>
    <div class="block place-content-center rounded-xl border border-tone-2 bg-background px-[10%] py-[2.5%]">
      <!-- IDENTITY SETTINGS -->
      <div class="flex flex-col place-content-center">
        <h3>{{ 'profileSettings.identitySettings' | translate }}</h3>
        <hr class="pb-6 text-primary" />
        <div class="mb-6 grid gap-6 md:grid-cols-2">
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              readonly
              id="emailAddress"
              type="email"
              formControlName="eMailAddress"
              [ngClass]="isFieldInvalid('eMailAddress') ? 'invalid' : 'valid'" />
            <label
              for="emailAddress"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.eMailAddressHeader }}
            </label>
          </div>
        </div>
      </div>
      <!-- GENERAL SETTINGS -->
      <div class="flex flex-col place-content-center">
        <h3>{{ 'profileSettings.generalSettings' | translate }}</h3>
        <hr class="pb-6 text-primary" />
        <div class="mb-6 grid gap-6 md:grid-cols-2">
          <div class="relative">
            <select
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              [class.empty]="!formGroup.controls.salutation.getRawValue()"
              name="salutation"
              id="salutation"
              formControlName="salutation"
              [ngClass]="isFieldInvalid('salutation') ? 'invalid' : 'valid'">
              <option value="mr">{{ 'profile.salutation.options.mr' | translate }}</option>
              <option value="ms">{{ 'profile.salutation.options.ms' | translate }}</option>
              <option value="mrs">{{ 'profile.salutation.options.mrs' | translate }}</option>
            </select>
            <label
              for="salutation"
              class="absolute left-2.5 top-4 z-10 origin-[0] transform text-gray-500 duration-300 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600 peer-[:not(.empty)]:-translate-y-4 peer-[:not(.empty)]:scale-75">
              {{ schema.salutationHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="Title"
              type="text"
              placeholder=" "
              formControlName="title"
              [ngClass]="isFieldInvalid('title') ? 'invalid' : 'valid'" />
            <label
              for="title"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.titleHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="firstname"
              type="text"
              placeholder=" "
              formControlName="firstName"
              [ngClass]="isFieldInvalid('firstName') ? 'invalid' : 'valid'" />
            <label
              for="firstname"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.firstNameHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="surname"
              type="text"
              placeholder=" "
              formControlName="surname"
              [ngClass]="isFieldInvalid('surname') ? 'invalid' : 'valid'" />
            <label
              for="surname"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.surnameHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="professionalSpecialisation"
              type="text"
              placeholder=" "
              formControlName="professionalSpecialisation"
              [ngClass]="isFieldInvalid('professionalSpecialisation') ? 'invalid' : 'valid'" />
            <label
              for="professionalSpecialisation"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.professionalSpecialisationHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="department"
              type="text"
              placeholder=" "
              formControlName="department"
              [ngClass]="isFieldInvalid('department') ? 'invalid' : 'valid'" />
            <label
              for="department"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.departmentHeader }}
            </label>
          </div>
        </div>
      </div>
      <!-- CONTACT DETAILS-->
      <div class="flex flex-col place-content-center">
        <h3>{{ 'profile.contact' | translate }}</h3>
        <hr class="pb-6 text-primary" />
        <div class="mb-6 grid gap-6 md:grid-cols-2">
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="address"
              type="text"
              placeholder=" "
              formControlName="address"
              [ngClass]="isFieldInvalid('address') ? 'invalid' : 'valid'" />
            <label
              for="address"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.addressHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="zip"
              type="text"
              placeholder=" "
              formControlName="zipCode"
              [ngClass]="isFieldInvalid('zipCode') ? 'invalid' : 'valid'" />
            <label
              for="zip"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.zipCodeHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="city"
              type="text"
              placeholder=" "
              formControlName="city"
              [ngClass]="isFieldInvalid('city') ? 'invalid' : 'valid'" />
            <label
              for="city"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.cityHeader }}
            </label>
          </div>
          <div class="relative">
            <select
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              [class.empty]="!formGroup.controls.country.getRawValue()"
              id="country_input"
              formControlName="country"
              [ngClass]="isFieldInvalid('country') ? 'invalid' : 'valid'">
              <option *ngFor="let code of countryCodes" [value]="code.name">
                {{ code.name }}
              </option>
            </select>
            <label
              for="country_input"
              class="absolute left-2.5 top-4 z-10 origin-[0] transform text-gray-500 duration-300 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600 peer-[:not(.empty)]:-translate-y-4 peer-[:not(.empty)]:scale-75">
              {{ schema.countryCodeHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="telephoneNumber"
              type="text"
              placeholder=" "
              formControlName="telephoneNumber"
              [ngClass]="isFieldInvalid('telephoneNumber') ? 'invalid' : 'valid'" />
            <label
              for="telephoneNumber"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.telephoneNumberHeader }}
            </label>
          </div>
          <div class="relative flex items-center">
            <input
              class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500"
              id="separateBilling"
              type="checkbox"
              formControlName="isSeparateBilling" />
            <label for="separateBilling" class="ml-2 font-medium text-gray-900">
              {{ schema.isSeparateBillingHeader }}
            </label>
          </div>
        </div>
      </div>
      <!-- BILLING-->
      <div
        class="flex flex-col place-content-center"
        *ngIf="formGroup.controls.isSeparateBilling.getRawValue()"
        [formGroup]="formGroup.controls.billing">
        <!-- TODO: -->
        <h3>{{ 'profile.billing' | translate }}</h3>
        <hr class="pb-6 text-primary" />
        <div class="mb-6 grid gap-6 md:grid-cols-2">
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="billingName"
              type="text"
              placeholder=" "
              formControlName="billingName"
              [ngClass]="isFieldInvalid('billing.billingName') ? 'invalid' : 'valid'" />
            <label
              for="billingName"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.billing.billingNameHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="billingAddress"
              type="text"
              placeholder=" "
              formControlName="billingAddress"
              [ngClass]="isFieldInvalid('billing.billingAddress') ? 'invalid' : 'valid'" />
            <label
              for="billingAddress"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.billing.billingAddressHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="billingZip"
              type="text"
              placeholder=" "
              formControlName="billingZip"
              [ngClass]="isFieldInvalid('billing.billingZip') ? 'invalid' : 'valid'" />
            <label
              for="billingZip"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.billing.billingZipHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="billingCity"
              type="text"
              placeholder=" "
              formControlName="billingCity"
              [ngClass]="isFieldInvalid('billing.billingCity') ? 'invalid' : 'valid'" />
            <label
              for="billingCity"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.billing.billingCityHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="billingCountry"
              type="text"
              placeholder=" "
              formControlName="billingCountry"
              [ngClass]="isFieldInvalid('billing.billingCountry') ? 'invalid' : 'valid'" />
            <label
              for="billingCountry"
              class="absolute left-2.5 top-4 z-10 origin-[0] transform text-gray-500 duration-300 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600 peer-[:not(.empty)]:-translate-y-4 peer-[:not(.empty)]:scale-75">
              {{ schema.billing.billingCountryHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="billingPhone"
              type="text"
              placeholder=" "
              formControlName="billingPhone"
              [ngClass]="isFieldInvalid('billing.billingPhone') ? 'invalid' : 'valid'" />
            <label
              for="billingPhone"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.billing.billingPhoneHeader }}
            </label>
          </div>
        </div>
      </div>
      <!-- SETTINGS -->
      <div class="flex flex-col place-content-center">
        <h3>{{ 'profile.settings' | translate }}</h3>
        <hr class="pb-6 text-primary" />
        <div class="mb-6 grid gap-6 md:grid-cols-2">
          <div class="relative">
            <select
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              [class.empty]="!formGroup.controls.language.getRawValue()"
              name="language"
              id="language"
              placeholder=" "
              formControlName="language"
              [ngClass]="isFieldInvalid('language') ? 'invalid' : 'valid'">
              <option value="english">English</option>
              <option value="deutsch">Deutsch</option>
              <option value="français">Français</option>
            </select>
            <label
              for="language"
              class="absolute left-2.5 top-4 z-10 origin-[0] transform text-gray-500 duration-300 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600 peer-[:not(.empty)]:-translate-y-4 peer-[:not(.empty)]:scale-75">
              {{ schema.languageHeader }}
            </label>
          </div>
          <div class="relative">
            <input
              class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
              id="preferredlab"
              type="text"
              placeholder=" "
              formControlName="preferredLab"
              [ngClass]="isFieldInvalid('preferredLab') ? 'invalid' : 'valid'" />
            <label
              for="preferredlab"
              class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600">
              {{ schema.preferredLabHeader }}
            </label>
          </div>
        </div>
      </div>
      <!-- CLINICAL SETTINGS -->
      <div class="flex flex-col place-content-center justify-center">
        <h3>{{ 'clinicalSetting.caption' | translate }}</h3>
        <hr class="pb-6 text-primary" />

        <div class="w-full self-center" data-accordion="collapse">
          <h4>
            <button
              type="button"
              class="flex w-full items-center justify-between py-5 text-left font-medium text-gray-800 aria-expanded:bg-gray-50"
              data-accordion-target="#clinical-setting-choose"
              [attr.aria-expanded]="!userExistedPreviously"
              aria-controls="clinical-setting-choose">
              <span>{{ schema.intendedUseClinicalSettingHeader }}</span>
              <svg
                data-accordion-icon
                class="h-3 w-3 shrink-0 rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h4>
          <div
            id="clinical-setting-choose"
            class="hidden"
            aria-labelledby="clinical-setting-choose"
            [innerHTML]="schema.intendedUseClinicalSetting"></div>
          <h4 *ngIf="userExistedPreviously">
            <button
              type="button"
              class="flex w-full items-center justify-between py-5 text-left font-medium text-gray-800 aria-expanded:bg-gray-50"
              data-accordion-target="#clinical-setting-change"
              aria-expanded="false"
              aria-controls="clinical-setting-change">
              <span>{{ schema.changeClinicalSettingHeader }}</span>
              <svg
                data-accordion-icon
                class="h-3 w-3 shrink-0 rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6">
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5" />
              </svg>
            </button>
          </h4>
          <div
            id="clinical-setting-change"
            class="hidden"
            aria-labelledby="clinical-setting-change"
            [innerHTML]="schema.changeClinicalSetting"></div>
        </div>
        <div class="flex h-full w-3/4 flex-row items-center justify-center self-center py-2.5">
          <ng-template ngFor let-clinicalSetting [ngForOf]="clinicalSettingsSpecs">
            <div
              *ngIf="
                !userExistedPreviously || formGroup.controls.clinicalSetting.getRawValue() === clinicalSetting.name
              "
              class="flex basis-1/2 items-center justify-center py-1.5">
              <div class="flex flex-col justify-center self-stretch rounded px-2 py-2.5 text-center">
                <input
                  [id]="clinicalSetting.name"
                  class="peer absolute m-0 inline-block cursor-pointer opacity-0 disabled:cursor-default"
                  type="radio"
                  name="clinicalSetting"
                  [value]="clinicalSetting.name"
                  formControlName="clinicalSetting"
                  [ngClass]="isFieldInvalid('clinicalSetting') ? 'invalid' : 'valid'" />
                <label
                  [for]="clinicalSetting.name"
                  class="flex h-28 cursor-pointer items-center justify-center rounded-lg border border-gray-200 bg-tone-1 p-6 font-semibold text-text peer-checked:border peer-checked:border-primary peer-checked:bg-primary peer-checked:text-white peer-disabled:cursor-default peer-disabled:border-black peer-disabled:bg-gray-200 peer-disabled:text-black"
                  >{{ clinicalSetting.descr | translate }}
                </label>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="!userExistedPreviously" class="flex w-3/4 self-center">
          <input
            id="clinicalSettingConfirmBox"
            type="checkbox"
            formControlName="clinicalSettingConfirm"
            value=""
            class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500"
            [ngClass]="isFieldInvalid('clinicalSettingConfirm') ? 'invalid' : 'valid'" />
          <label for="clinicalSettingConfirmBox" class="ml-2 font-medium text-gray-900"
            >{{ 'clinicalSetting.confirm' | translate }}
          </label>
        </div>
        <!-- SUBMIT -->
        <div class="flex flex-row-reverse py-6">
          <button class="action" type="submit" [disabled]="isLoading">
            {{ userExistedPreviously ? ('profile.update' | translate) : ('profile.create' | translate) }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
<ng-template #loading>
  <ce-loading-indicator class="p-12" />
</ng-template>
