<!-- Flexible biomarkers -->
<ng-container [formGroup]="formGroup">
  <input
    name="biomarkerUnitSelectBox"
    id="biomarkerUnitSelectBox"
    disabled
    [value]="'labUnit.options.' + formGroup.getRawValue().preferredUnitType | translate"
    class="mb-6 block w-max rounded-md border p-2 placeholder:text-label-2 disabled:border-gray-300 disabled:bg-gray-100" />
  <div class="align-items-end grid gap-4 md:grid-cols-4 lg:grid-cols-5" formArrayName="biomarkerValues">
    <span *ngFor="let biomarker of biomarkers">
      <!-- biomarker form -->
      <ce-biomarker-lab-result
        [biomarker]="biomarker"
        [unitTypeEditable]="false"
        [formGroup]="findLabBiomarkerControlById(biomarker.id)!" />
    </span>
    <!-- Save and edit button -->
    <div class="col-start-1 col-end-6 flex flex-row-reverse" *ngIf="(formMode$ | async) !== FormMode.readonly">
      <button (click)="enableEditMode()" class="edit self-end">
        {{ 'category.unitPreferences.edit' | translate }}
      </button>
    </div>
  </div>
</ng-container>
