<ng-container *ngIf="biomarkers.length > 0; else noContent">
  <!-- Fixed biomarkers -->
  <ce-category-list-fixed
    class="mb-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6"
    [biomarkers]="fixedBiomarkers"></ce-category-list-fixed>

  <!-- Flexible biomarkers -->
  <!-- non-edit-mode -->
  <ce-category-list-flexible
    *ngIf="!isEditingEnabled"
    class="mb-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6"
    [biomarkers]="flexibleBiomarkers"
    (isEditingEnabled)="enableEditMode()">
  </ce-category-list-flexible>

  <!-- edit-mode -->
  <ce-category-list-flexible-edit
    *ngIf="isEditingEnabled"
    class="mb-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6"
    [biomarkers]="flexibleBiomarkers"
    (saveChanges)="savePreferences()">
  </ce-category-list-flexible-edit>
</ng-container>

<!--No Content-->
<ng-template #noContent>
  <div>{{ 'category.noContent' | translate }}</div>
</ng-template>
