<ng-container *ngIf="biomarkers.medicalHistory.length > 0 || biomarkers.labResults.length > 0; else noContent">
  <!-- Fixed biomarkers -->
  <ce-category-list-fixed
    *ngIf="biomarkers.medicalHistory"
    class="mb-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6"
    [biomarkers]="biomarkers.medicalHistory"
    [categories]="biomarkers.categories.medicalHistory">
  </ce-category-list-fixed>

  <!-- Flexible biomarkers -->
  <!-- non-edit-mode -->
  <ce-category-list-flexible
    *ngIf="!isEditingEnabled && biomarkers.labResults"
    class="mb-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6"
    [biomarkers]="biomarkers.labResults"
    (isEditingEnabled)="enableEditMode()">
  </ce-category-list-flexible>

  <!-- edit-mode -->
  <ce-category-list-flexible-edit
    *ngIf="isEditingEnabled && biomarkers.labResults"
    class="mb-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6"
    [biomarkers]="biomarkers.labResults"
    (saveChanges)="savePreferences()">
  </ce-category-list-flexible-edit>
</ng-container>

<!--No Content-->
<ng-template #noContent>
  <div>{{ 'category.noContent' | translate }}</div>
</ng-template>
