<ng-container
  *ngIf="biomarkers && (biomarkers.medicalHistory.length > 0 || biomarkers.labResults.length > 0); else noContent">
  <!-- Fixed biomarkers -->
  <ce-category-list-fixed
    *ngIf="biomarkers.medicalHistory"
    [ngClass]="(formMode$ | async) === FormMode.readonly ? 'readonly' : 'editable'"
    class="box"
    [biomarkers]="biomarkers.medicalHistory"
    [categories]="biomarkers.categories.medicalHistory"
    [formGroup]="formGroup">
  </ce-category-list-fixed>

  <!-- Flexible biomarkers -->
  <!-- non-edit-mode -->
  <ce-category-list-flexible
    *ngIf="(isEditingEnabled$ | async) === false && biomarkers.labResults"
    [ngClass]="(formMode$ | async) === FormMode.readonly ? 'readonly' : 'editable'"
    class="box"
    [biomarkers]="biomarkers.labResults"
    [formGroup]="formGroup"
    (isEditingEnabled)="enableEditMode()">
  </ce-category-list-flexible>

  <!-- edit-mode -->
  <ce-category-list-flexible-edit
    *ngIf="(isEditingEnabled$ | async) && biomarkers.labResults"
    [ngClass]="(formMode$ | async) === FormMode.readonly ? 'readonly' : 'editable'"
    class="box"
    [biomarkers]="biomarkers.labResults"
    [formGroup]="formGroup"
    (saveChanges)="savePreferences()">
  </ce-category-list-flexible-edit>
</ng-container>

<!--No Content-->
<ng-template #noContent>
  <div>{{ 'category.noContent' | translate }}</div>
</ng-template>
