<div class="biomarker-container">
  <p>{{ biomarker.fieldname }}</p>
  <button *ngIf="biomarker.infoText" (click)="showInfoText()">i
  </button>
  <div class="tooltipce" *ngIf="infotextVisible">
    <span class="tooltiptextce">{{ biomarker.infoText }}</span>
  </div>

  <div class="button-group" *ngIf="requiredType === inputTypeEnum.Selection">
    <span *ngFor="let choice of biomarker.selectedUnit.enum || biomarker.selectedUnit.values">
      <button
        [class.button-selected]="
          biomarker.value === choice ||
          biomarker.value === ('yes'.toUpperCase() === choice.toUpperCase())
        "
        (click)="setValue(choice)"
      >
        {{ choice }}
      </button>
    </span>
  </div>
  <div *ngIf="requiredType === inputTypeEnum.Number">
    <input type="number" [(ngModel)]="biomarker.value" [min]="biomarker.selectedUnit.minimum" class="disable-arrows" />
  </div>
  <div *ngIf="requiredType === inputTypeEnum.String">
    <input type="text" [(ngModel)]="biomarker.value" />
  </div>
  <div *ngIf="biomarker.units.length > 1">
    <select name="unitSelector" [(ngModel)]="biomarker.selectedUnit">
        <option *ngFor="let unit of biomarker.units" [ngValue]="unit" >{{ unit.name }}</option>
    </select>
  </div>
  <div *ngIf="biomarker.units.length === 1">
      <p>{{ biomarker.selectedUnit.name }}</p>
  </div>
</div>
