<div class="mb-2 flex flex-row items-end">
	<p class="block font-medium leading-tight">
		{{ biomarker.fieldname }}
	</p>
	<img
		class="hover:text-primary-600 focus:text-primary-600 active:text-primary-700 pl-1 text-primary transition duration-150 ease-in-out"
		*ngIf="biomarker.infoText"
		src="./assets/Info.svg"
		[attr.data-tooltip-target]="'biomarker-tooltip-' + biomarker.id"
		alt="{{ biomarker.infoText }}" />
	<div
		[attr.id]="'biomarker-tooltip-' + biomarker.id"
		role="tooltip"
		class="tooltip invisible absolute z-10 inline-block max-w-md rounded-lg bg-gray-900 px-3 py-2 font-medium text-white opacity-0 shadow-sm transition-opacity duration-300">
		{{ biomarker.infoText }}
		<div class="tooltip-arrow" data-popper-arrow></div>
	</div>
</div>

<div *ngIf="requiredType === inputTypeEnum.Selection" class="grid place-items-baseline">
	<ul class="flex gap-1">
		<li *ngFor="let choice of biomarker.selectedUnit.enum || biomarker.selectedUnit.values">
			<input
				type="radio"
				[id]="biomarker.id + '_' + choice"
				class="peer hidden"
				[name]="biomarker.fieldname"
				[value]="choice"
				[(ngModel)]="biomarker.value" />
			<label
				[for]="biomarker.id + '_' + choice"
				class="block cursor-pointer select-none rounded-md border border-tone-2 bg-tone-1 p-2 text-text peer-checked:border-primary peer-checked:bg-primary peer-checked:text-white"
				>{{ choice }}</label
			><!-- TODO: Properly handle translation -->
		</li>
	</ul>
</div>

<div *ngIf="requiredType === inputTypeEnum.Number" class="relative mt-2 rounded-md shadow-sm">
	<input
		type="number"
		[min]="biomarker.selectedUnit.minimum"
		[max]="biomarker.selectedUnit.maximum"
		[(ngModel)]="biomarker.value"
		(input)="onValueChanged()"
		class="block w-full rounded-md border p-2 placeholder:text-label-2"
		[class]="biomarker.isValid ? 'border-tone-2 focus:ring-primary' : 'border-text-red focus:ring-text-red'"
		[placeholder]="biomarker.selectedUnit.type === 'float' ? '0.00' : '0'" />
	<div class="absolute inset-y-0 right-0 flex items-center">
		<ng-container *ngIf="!unitTypeEditable; else editUnits">
			<!-- show only the currently selected units -->
			<div
				*ngIf="biomarker.selectedUnit"
				class="flex h-full items-center justify-center rounded-md py-1 pl-2 pr-2 text-label-2 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
				<p class="text-center">{{ biomarker.selectedUnit.name }}</p>
			</div>
		</ng-container>
		<ng-template #editUnits>
			<!-- editmode: show editable units and options in -->
			<select
				name="unitSelector"
				[ngModel]="biomarker.selectedUnit"
				class="mr-1 border-0 px-2 py-1 focus:ring-0"
				(ngModelChange)="onChange($event)">
				<option class="pr-2" *ngFor="let unit of biomarker.units" [ngValue]="unit">
					{{ unit.name }}
				</option>
			</select>
			<div
				*ngIf="biomarker.units.length === 1"
				class="flex h-full items-center justify-center rounded-md py-1 pl-2 pr-2">
				<p class="text-center">{{ biomarker.selectedUnit.name }}</p>
			</div>
		</ng-template>
	</div>
</div>

<div *ngIf="requiredType === inputTypeEnum.String">
	<input
		(input)="onValueChanged()"
		class="block w-full rounded-md border px-2 py-1.5 placeholder:text-label-2"
		[class]="biomarker.isValid ? 'border-tone-2 focus:ring-primary' : 'border-text-red focus:ring-text-red'"
		type="text"
		[(ngModel)]="biomarker.value" />
</div>

<p *ngIf="!biomarker.isValid" class="text-text-red">
	{{ biomarker.isValid ? ' ' : biomarker.errorMessage }}
</p>
