<div *ngIf="!currentScore" name="record-container" class="mb-8 flex flex-col self-center">
	<div name="header-div" class="flex flex-row justify-between">
		<h1>{{ 'scores' | translate }}</h1>
		<div>
			<button class="action" routerLink="/score/new">{{ 'createNewScore' | translate }}</button>
		</div>
	</div>
	<div class="border border-tone-2 bg-[#F6F8FC] shadow-md sm:rounded-lg">
		<form name="patientinfo" class="grid-col m-6 grid grid-cols-6">
			<div class="col-span-2 flex flex-col p-1">
				<label for="patient-name" class="text-label">{{ 'patientName' | translate }}</label>
				<input
					type="text"
					id="patient-name"
					placeholder="{{ 'patientNamePlaceholder' | translate }}"
					#patientName
					class="basis-1/2 rounded-md border border-tone-2 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-primary" />
			</div>
			<div class="col-span-2 flex flex-col p-1">
				<label for="patient-last-name" class="text-label">{{ 'patientLastName' | translate }}</label>
				<input
					type="text"
					id="patient-last-name"
					placeholder="{{ 'patientLastNamePlaceholder' | translate }}"
					#patientLastName
					class="basis-1/2 rounded-md border border-tone-2 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-primary" />
			</div>
			<div class="flex flex-col p-1">
				<label for="patient-birthdate" class="text-label">{{ 'birthdate' | translate }}</label>
				<input
					type="date"
					id="patient-birthdate"
					#patientBirthdate
					class="rounded-md border border-tone-2 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-primary"
					max="2999-12-31" />
			</div>
			<div class="flex flex-row-reverse">
				<div class="flex w-28 flex-col p-1">
					<span class="mb-1 h-4"></span>

					<button
						(click)="getSpecificRecords(patientName.value, patientLastName.value, patientBirthdate.value)"
						class="action">
						{{ 'search' | translate }}
					</button>
				</div>
			</div>
		</form>
		<div class="p-6">
			<table *ngIf="patientRecords" class="w-full table-auto text-left text-sm">
				<thead class="border-b border-label text-label">
					<tr>
						<th scope="col" class="px-6 py-3">{{ 'id' | translate }}</th>
						<th scope="col" class="px-6 py-3">{{ 'timestamp' | translate }}</th>
						<th scope="col" class="px-6 py-3">{{ 'risk' | translate }}</th>
						<th *ngIf="showDetailsButton" scope="col" class="inline-block px-6 py-3"></th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let record of patientRecords; let i = index"
						class=""
						[class]="i % 2 ? 'px-6 py-4 whitespace-nowrap' : 'px-6 py-4 whitespace-nowrap bg-table'">
						<td class="whitespace-nowrap px-6 py-4">
							{{ record.requestId.split('-').shift() }}
						</td>
						<td class="px-6 py-4">
							{{ record.requestTimeStamp | date: 'medium' }}
						</td>
						<!-- <td class="px-6 py-4">{{ record.score }}</td> -->
						<td class="px-6 py-6">
							<div class="">
								<app-risk-label [risk]="record.risk ?? 'INCOMPLETE'" [riskClass]="record.riskClass"></app-risk-label>
							</div>
						</td>
						<td *ngIf="showDetailsButton" class="px-6 py-6">
							<button class="edit self-end" (click)="openSpecificScore(record.requestId)">
								{{ 'details' | translate }}
							</button>
							<button *ngIf="record.canEdit" class="pl-5 text-secondary" (click)="editSpecificScore(record.requestId)">
								Edit
								<!-- TODO: translation -->
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<app-score
	*ngIf="currentScore"
	[score]="currentScore"
	[firstname]="patientName"
	[lastname]="patientLastName"
	[birthdate]="patientBirthdate"></app-score>
