<div *ngIf="!currentScore" name="record-container" class="mb-8 flex flex-col self-center px-[var(--main-margin)]">
  <div name="header-div" class="flex flex-row justify-between mb-8 pt-[2.5%]">
    <p class="text-primary font-semibold text-2xl">Scores</p>
    <div class="flex flex-row-reverse">
      <button
        class="pl-6 pr-6 pt-2 pb-2 enabled:bg-secondary enabled:text-white disabled:bg-label-2 disabled:text-white rounded-md border gap-2 font-bold"
        routerLink="/score/new"
      >
        Create new Score
      </button>
    </div>
  </div>
  <div class="bg-[#F6F8FC] shadow-md border border-tone-2 sm:rounded-lg">
    <form name="patientinfo" class="grid grid-col grid-cols-6 m-6">
      <div class="flex flex-col col-span-2 p-1">
        <label for="patient-name" class="text-label">Patient Name</label>
        <input
          type="text"
          id="patient-name"
          #patientName
          class="basis-1/2 rounded-md border py-1.5 pl-2 focus:ring-2 focus:ring-inset focus:ring-primary focus:outline-none sm:text-sm sm:leading-6 border-tone-2"
        />
      </div>
      <div class="flex flex-col p-1 col-span-2">
        <label for="patient-last-name" class="text-label"
          >Patient last name</label
        >
        <input
          type="text"
          id="patient-last-name"
          #patientLastName
          class="basis-1/2 rounded-md border py-1.5 pl-2 focus:ring-2 focus:ring-inset focus:ring-primary focus:outline-none sm:text-sm sm:leading-6 border-tone-2"
        />
      </div>
      <div class="flex flex-col p-1">
        <label for="patient-birthdate" class="text-label">Birthdate</label>
        <input
          type="date"
          id="patient-birthdate"
          #patientBirthdate
          class="rounded-md text-label-2 border py-1.5 pl-2 focus:ring-1 focus:ring-inset focus:ring-primary focus:outline-none sm:text-sm sm:leading-6 border-tone-2"
          max="2999-12-31"
        />
      </div>
      <div class="flex flex-row-reverse">
        <div class="flex flex-col p-1 w-28">
          <span class="h-4 mb-1"></span>

          <button
            (click)="
              getSpecificRecords(
                patientName.value,
                patientLastName.value,
                patientBirthdate.value
              )
            "
            class="pl-6 pr-6 pt-2 pb-2 enabled:bg-secondary enabled:text-white disabled:bg-label-2 disabled:text-white rounded-md border gap-2 font-bold"
          >
            Search
          </button>
        </div>
      </div>
    </form>
    <div class="p-6">
      <table
        *ngIf="patientRecords"
        class="w-full text-sm text-left text-blue-100 table-auto"
      >
        <thead class="text-xs text-text dark:text-text border-b border-label">
          <tr>
            <th scope="col" class="px-6 py-3 text-label">ID</th>
            <th scope="col" class="px-6 py-3 text-label">Timestamp</th>
            <th scope="col" class="px-6 py-3 text-label">Risk</th>
            <th
              *ngIf="showDetailsButton"
              scope="col"
              class="px-6 py-3 text-label inline-block"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let record of patientRecords; let i = index"
            class=""
            [class]="
              i % 2
                ? 'px-6 py-4 font-medium whitespace-nowrap'
                : 'px-6 py-4 font-medium whitespace-nowrap bg-table'
            "
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-text whitespace-nowrap"
            >
              {{ record.requestId.split("-").shift() }}
            </th>
            <td class="px-6 py-4">
              {{ record.requestTimeStamp | date : "medium" }}
            </td>
            <!-- <td class="px-6 py-4">{{ record.score }}</td> -->
            <td class="px-6 py-6">
              <div class="">
                <app-risk-label risk=">75%" riskClass="4"></app-risk-label>
              </div>
            </td>
            <td *ngIf="showDetailsButton" class="px-6 py-4 inline-block">
              <button
                class="text-secondary"
                (click)="openSpecificScore(record.requestId)"
              >
                Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-score *ngIf="currentScore" [score]="currentScore" [firstname]="patientName" [lastname]="patientLastName" [birthdate]="patientBirthdate"></app-score>