<div class="h-screen w-screen bg-login bg-cover bg-center p-10">
  <div class="flex h-full w-full max-w-sm flex-col overflow-y-auto rounded-xl bg-white p-4 sm:w-96">
    <img src="../../../assets/cardio-explorer-logo.svg" alt="Cardio Explorer logo" class="h-auto w-auto self-start" />
    <div
      class="flex grow flex-col gap-2 p-4"
      [class]="{
        'justify-center': !requestingAccess || accessRequested,
        'justify-end': requestingAccess && !accessRequested
      }">
      <h1 class="mb-2" [ngClass]="{ '!visible hidden': requestingAccess }">{{ 'section.login' | translate }}</h1>
      <button *ngIf="!requestingAccess" class="action" (click)="login()">{{ 'section.login' | translate }}</button>
      <form
        name="accessrequest"
        class="flex flex-col gap-y-2"
        [ngClass]="{ '!visible hidden': !requestingAccess || accessRequested }">
        <div name="name" class="relative">
          <input
            type="text"
            id="name"
            #name
            required
            class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            [class]="nameValid ? '' : 'text-text-red border-text-red focus:border-text-red'"
            placeholder=" "
            (input)="validateName(name.value)" />
          <label
            for="name"
            class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600"
            >{{ 'profile.firstName' | translate }}
          </label>
        </div>
        <div name="lastname" class="relative">
          <input
            type="text"
            id="lastname"
            #lastname
            required
            class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            [class]="lastNameValid ? '' : 'text-text-red border-text-red focus:border-text-red'"
            placeholder=" "
            (input)="validateLastName(lastname.value)" />
          <label
            for="lastname"
            class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600"
            >{{ 'profile.lastName' | translate }}</label
          >
        </div>
        <div name="email" class="relative">
          <input
            type="text"
            id="email"
            #email
            required
            class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            [class]="emailValid ? '' : 'text-text-red border-text-red focus:border-text-red'"
            placeholder=" "
            (input)="validateMail(email.value)" />
          <label
            for="email"
            class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600"
            >{{ 'profile.eMail' | translate }}</label
          >
        </div>
        <div name="telephone" class="relative">
          <input
            type="text"
            id="telephone"
            #telephone
            required
            class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            [class]="phoneValid ? '' : 'text-text-red border-text-red focus:border-text-red'"
            placeholder=" "
            (input)="validatePhone(telephone.value)" />
          <label
            for="telephone"
            class="absolute left-2.5 top-4 z-10 origin-[0] -translate-y-4 scale-75 transform text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600"
            >{{ 'profile.contact.phoneNumber' | translate }}</label
          >
        </div>
        <div name="country" class="relative">
          <select
            id="country"
            #country
            class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            name="country">
            <option>{{ 'country.ger' | translate }}</option>
            <option>{{ 'country.uae' | translate }}</option>
            <option>{{ 'country.ch' | translate }}</option>
          </select>
          <label
            for="country"
            class="absolute left-2.5 top-4 z-10 origin-[0] transform text-gray-500 duration-300 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600 peer-[:not(.empty)]:-translate-y-4 peer-[:not(.empty)]:scale-75"
            >{{ 'country.caption' | translate }}</label
          >
        </div>
        <div name="organization" class="relative">
          <select
            id="organization"
            #organization
            class="peer block w-full appearance-none rounded-t-lg border-0 border-b-2 border-gray-300 bg-gray-50 px-2.5 pb-2.5 pt-5 text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0"
            name="organization">
            <option>{{ 'organization.noOrg' | translate }}</option>
            <option>{{ 'organization.exxeta' | translate }}</option>
            <option>{{ 'organization.preventon' | translate }}</option>
          </select>
          <label
            for="organization"
            class="absolute left-2.5 top-4 z-10 origin-[0] transform text-gray-500 duration-300 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:text-blue-600 peer-[:not(.empty)]:-translate-y-4 peer-[:not(.empty)]:scale-75"
            >{{ 'organization.caption' | translate }}</label
          >
        </div>
        <button
          class="action"
          [disabled]="
            !phoneValid ||
            !nameValid ||
            !lastNameValid ||
            !emailValid ||
            !telephone.value ||
            !name.value ||
            !lastname.value ||
            !email.value
              ? 'disabled'
              : ''
          "
          (click)="
            sendRequest(name.value, lastname.value, email.value, telephone.value, country.value, organization.value)
          ">
          {{ 'login.requestAccess' | translate }}
        </button>
        <button class="edit" (click)="this.requestingAccess = false">{{ 'navigation.back' | translate }}</button>
      </form>
      <div class="flex flex-col text-center" [ngClass]="{ '!visible hidden': !accessRequested }">
        <p class="text-2xl font-medium text-primary">{{ 'login.requestSuccess' | translate }}</p>
        <p>{{ 'login.requestSuccessInfo' | translate }}</p>
        <button class="edit" (click)="this.requestingAccess = false; this.accessRequested = false">
          {{ 'navigation.back' | translate }}
        </button>
      </div>
      <button
        class="action enabled:!bg-primary"
        [ngClass]="{ '!visible hidden': requestingAccess }"
        (click)="this.requestingAccess = true">
        {{ 'login.requestAccess' | translate }}
      </button>
    </div>
    <ce-footer class="origin-bottom scale-90 p-4"></ce-footer>
  </div>
</div>
