<ng-container
  *ngrxLet="{
    currentScore: currentScore$,
    biomarkerTemplate: biomarkerTemplate$,
    formMode: formMode$,
    patient: patient$,
    patientData: patientData$
  } as data">
  <div *ngIf="!data.currentScore" class="base-view">
    <h1>
      {{ data.formMode === FormMode.add ? ('section.createNewScore' | translate) : ('section.editScore' | translate) }}
    </h1>
    <ce-patient-data-form
      *ngIf="data.biomarkerTemplate"
      [patient]="data.patient!"
      [formMode]="data.formMode"></ce-patient-data-form>
  </div>
  <ce-score
    *ngIf="data.currentScore"
    [score]="data.currentScore"
    [biomarker]="data.biomarkerTemplate!"
    [firstname]="data.patient?.firstname"
    [lastname]="data.patient?.lastname"
    [birthdate]="data.patient?.dateOfBirth">
  </ce-score>
</ng-container>
