<ng-container
  *ngrxLet="{
    currentScore: currentScore$,
    biomarkerTemplate: biomarkerTemplate$,
    canEditPatientData: canEditPatientData$,
    patient: patient$
  } as data">
  <div *ngIf="!data.currentScore" class="base-view">
    <h1>{{ data.canEditPatientData ? ('section.createNewScore' | translate) : ('section.editScore' | translate) }}</h1>
    <ce-patient-data-form
      *ngIf="data.biomarkerTemplate"
      [biomarkers]="data.biomarkerTemplate!"
      [patient]="data.patient!"
      [canEdit]="data.canEditPatientData"></ce-patient-data-form>
    <div class="mt-6 flex flex-row-reverse">
      <button class="action mb-10" (click)="submit()">
        {{ 'scores.calculate' | translate }}
      </button>
    </div>
  </div>
  <ce-score
    *ngIf="data.currentScore"
    [score]="data.currentScore"
    [biomarker]="data.biomarkerTemplate!"
    [firstname]="data.patient?.firstname"
    [lastname]="data.patient?.lastname"
    [birthdate]="data.patient?.dateOfBirth">
  </ce-score>
</ng-container>
