<div [formGroup]="formGroup">
  <div class="mb-2 flex flex-row items-end">
    <p class="block font-medium leading-tight">
      {{ biomarker.displayName }}
    </p>
    <ce-tooltip [infoText]="biomarker.infoText" [tooltipId]="'biomarker-tooltip-' + biomarker.id"></ce-tooltip>
  </div>

  <div *ngIf="biomarker.type === 'options' || biomarker.type === 'boolean'" class="grid place-items-baseline">
    <ul class="flex gap-1">
      <li *ngFor="let option of biomarker.unit.options">
        <ng-container *ngIf="!option.isDisabled; else disabled">
          <input
            type="radio"
            [id]="biomarker.id + '_' + option.displayName"
            class="peer hidden"
            [ngClass]="(formMode$ | async) === FormMode.readonly ? 'readonly' : 'editable'"
            [value]="option.value?.toString()?.toLowerCase()"
            formControlName="value" />
        </ng-container>

        <label
          [for]="biomarker.id + '_' + option.displayName"
          [ngClass]="(formMode$ | async) === FormMode.readonly ? 'readonly' : 'editable'"
          class="option-label"
          >{{ option.displayName }}
        </label>
        <!-- Disable effected Marker marker -->
        <ng-template #disabled>
          <input
            type="radio"
            [id]="biomarker.id + '_' + option.displayName"
            class="peer hidden"
            [value]="option.value?.toString()?.toLowerCase()"
            disabled />
        </ng-template>
      </li>
    </ul>
  </div>

  <div *ngIf="biomarker.type === 'integer'" class="relative mt-2 rounded-md shadow-sm">
    <input
      type="number"
      [id]="biomarker.id + '_input'"
      [min]="biomarker.unit.minimum!"
      [max]="biomarker.unit.maximum!"
      formControlName="value"
      class="block w-full rounded-md border p-2 placeholder:text-label-2"
      [placeholder]="0"
      [ngClass]="
        (formMode$ | async) === FormMode.readonly ? 'readonly' : isFieldInvalid('value') ? 'invalid' : 'valid'
      " />
    <div class="absolute inset-y-0 right-0 flex items-center">
      <div [ngClass]="(formMode$ | async) === FormMode.readonly ? 'readonly' : 'editable'" class="unit">
        <p class="text-center">{{ biomarker.unit.shorthand }}</p>
      </div>
    </div>
  </div>
  <p *ngIf="hasError('value', 'required')" class="mt-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium"> {{ 'biomarker.validationEmpty' | translate }}</span>
  </p>
  <p *ngIf="isFieldInvalid('value')" class="mt-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">
      {{ 'biomarker.validationRangeMessage' | translate: { min: biomarker.unit.minimum, max: biomarker.unit.maximum } }}
    </span>
  </p>
</div>
