<form [formGroup]="formGroup" (ngSubmit)="saveForm()">
  <div
    class="mb-4 grid grid-cols-3 gap-4 rounded-lg border border-solid border-tone-2 bg-background px-8 py-6 focus:border-2">
    <div>
      <div class="flex flex-row">
        <label for="patient-name" [ngClass]="isFieldInvalid('firstname') ? 'valid' : 'invalid'">{{
          'patient.name' | translate
        }}</label>
        <ce-tooltip
          [infoText]="'tooltips.patient.name' | translate"
          [tooltipId]="'patient-first-name-tooltip'"></ce-tooltip>
      </div>

      <input
        type="text"
        id="patient-name"
        placeholder="{{ 'placeholders.patient.name' | translate }}"
        formControlName="firstname"
        [ngClass]="isFieldInvalid('firstname') ? 'invalid' : 'valid'" />
      <p
        *ngIf="isFieldInvalid('firstname') && hasError('firstname', 'required')"
        class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{ 'patient.errors.name' | translate }}</span>
      </p>
    </div>
    <div>
      <div class="flex flex-row">
        <label for="patient-lastname" [ngClass]="isFieldInvalid('lastname') ? 'valid' : 'invalid'">{{
          'patient.lastName' | translate
        }}</label>
        <ce-tooltip
          [infoText]="'tooltips.patient.lastName' | translate"
          [tooltipId]="'patient-last-name-tooltip'"></ce-tooltip>
      </div>
      <input
        type="text"
        id="patient-lastname"
        placeholder="{{ 'placeholders.patient.lastName' | translate }}"
        formControlName="lastname"
        [ngClass]="isFieldInvalid('lastname') ? 'invalid' : 'valid'" />
      <p
        *ngIf="isFieldInvalid('lastname') && hasError('lastname', 'required')"
        class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{ 'patient.errors.lastName' | translate }}</span>
      </p>
    </div>
    <div>
      <div class="flex flex-row">
        <label for="patient-birthdate" [ngClass]="isFieldInvalid('birthdate') ? 'valid' : 'invalid'">{{
          'patient.birthdate' | translate
        }}</label>
        <ce-tooltip
          [infoText]="'tooltips.patient.birthdate' | translate"
          [tooltipId]="'patient-birthdate-tooltip'"></ce-tooltip>
      </div>
      <input
        type="date"
        id="patient-birthdate"
        max="2999-12-31"
        formControlName="birthdate"
        [ngClass]="isFieldInvalid('birthdate') ? 'invalid' : 'valid'" />
      <p
        *ngIf="isFieldInvalid('birthdate') && hasError('birthdate', 'required')"
        class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{ 'patient.errors.birthdate' | translate }}</span>
      </p>
    </div>
  </div>
  <ce-category [biomarkers]="biomarkers" [formGroup]="formGroup" class="flex flex-col" />
  <div class="mt-6 flex flex-row-reverse">
    <button class="action mb-10" type="submit" [disabled]="formGroup.invalid">
      {{ 'scores.calculate' | translate }}
    </button>
  </div>
</form>
