<!-- Flexible biomarkers -->
<ng-container [formGroup]="formGroup">
  <div
    cdkDropListGroup
    class="align-items-end grid gap-4 overflow-hidden md:grid-cols-4 lg:grid-cols-5"
    formArrayName="biomarkerValues">
    <div
      *ngFor="let biomarker of biomarkers; let i = index"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropItem($event)"
      [cdkDropListData]="{ item: biomarker, index: i }"
      class="relative">
      <div class="cursor-move" cdkDrag>
        <div *cdkDragPlaceholder></div>
        <ce-biomarker-lab-result
          [biomarker]="biomarker"
          [unitTypeEditable]="true"
          [formGroup]="findLabBiomarkerControlById(biomarker.id)!" />
      </div>
    </div>

    <div class="col-start-1 col-end-6 flex flex-row-reverse">
      <button (click)="savePreferences()" class="edit self-end">
        {{ 'category.save' | translate }}
      </button>
    </div>
  </div>
</ng-container>
