<div
    name="row"
    class="flex flex-row gap-4"
  >
    <div
      class="px-8 py-2 basis-[80%] flex flex-row p-2 bg-white border-tone-2 rounded-lg border-solid border gap-1"
    >
      <div class="flex flex-col">
        <p class="font-medium" [class]="longTextVisible ? 'self-start' : 'self-center'">{{ category?.shortText }}</p>
        <p
          class="{{
            longTextVisible ? 'visible' : '!visible hidden'
          }}"
        >
          {{ category?.longText }}
        </p>
      </div>
      <a
        class="text-secondary underline font-medium hover:cursor-pointer"
        [class]="longTextVisible ? 'self-end' : ''"
        (click)="toggleLongText()"
        >{{ longTextVisible ? 'less' : 'more' }}</a
      >
    </div>
    <div
      class="basis-[6%] md:basis-[10%] sm:basis-[15%] p-2 bg-white border-tone-2 rounded-lg border-solid border flex justify-center"
    >
      <p class="font-medium self-center">
        {{ (category?.lowerLimit ?? 0) * 100 | number: '1.0-0' }}-{{ (category?.upperLimit ?? 0) * 100 | number: '1.0-0' }}
      </p>
    </div>
    <div
      class="basis-[14%] p-2 text-white rounded-lg border-solid border flex justify-center"
      [ngClass]="{
        'bg-text-green border-group-green-1': category?.id === 1,
        'bg-yellow border-group-orange-1': category?.id === 2,
        'bg-text-orange-1 border-group-orange-2': category?.id === 3,
        'bg-text-red': category?.id === 4
      }"
    >
      <p class="text-xl font-bold self-center">{{ category?.riskValue }}</p>
    </div>
  </div>