<!-- Fixed biomarkers -->
<ng-container [formGroup]="formGroup">
  <ng-container *ngFor="let category of fixedBiomarkersByCategory$ | async">
    <ng-container *ngIf="category.name">
      <h4 class="mt-4 first-of-type:mt-0">{{ category.name }}</h4>
      <hr class="pb-2 text-primary" />
    </ng-container>
    <div class="flex flex-wrap gap-x-8 gap-y-4" formArrayName="biomarkerValues">
      <ng-container *ngFor="let biomarker of category.list">
        <span
          class="flex min-w-40 flex-col justify-end"
          [class.col-span-2]="EXTRA_WIDTH_CATEGORIES.includes(biomarker.id)">
          <!-- biomarker form -->
          <ce-biomarker-medical-history
            *ngIf="biomarker"
            [biomarker]="biomarker"
            [formGroup]="findMedicalBiomarkerControlById(biomarker.id)!"
            [sideEffectMarker]="findSideEffectMarker(biomarker)" />
        </span>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
