<div class="flex flex-col gap-1 font-normal text-label">
  <div class="flex flex-row gap-1">
    <p>{{ Header }}</p>
    <ce-tooltip [infoText]="InfoText" [tooltipId]="'tooltip-' + Header.split(' ')[0].toLowerCase()"></ce-tooltip>
  </div>
  <div class="flex flex-row gap-1">
    <p class="font-normal text-text" name="Value" *ngIf="!isDate && !isBoolean">{{ Value }}</p>
    <p class="font-normal text-text" name="DateValue" *ngIf="isDate">{{ DateValue | date: 'mediumDate' }}</p>
    <p class="font-normal text-text" name="BooleanValue" *ngIf="isBoolean">{{ !!Value | yesno | async }}</p>
    <p>{{ Unit }}</p>
  </div>
</div>
